*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#box{
    position:relative;
    width: 300px;
    height:300px;
    background-color:purple;
}
        /* <div id="top_righty"></div>
        <div id="top_lefty"></div>
        <div id="bottom_lefty"></div>
        <div id="bottom_righty"></div> */

#top_righty{
    position:absolute;
    right: 0%;
    width: 100px;
    height:100px;
    background-color: yellow;
    animation: anime;
    animation-duration: 2s;
    animation-direction: right;
}
p{
    padding: 3px;
    color: blue;
}
#top_lefty{
    position:absolute;
    left: 0%;
    width: 100px;
    height:100px;
    background-color: rgb(88, 88, 24);
}

#bottom_lefty{
    position:absolute;
    bottom: 0%;
    width: 100px;
    height:100px;
    background-color: rgb(31, 218, 78);
}

#bottom_righty{
    position:absolute;
    bottom:0%;
    right: 0%;
    width: 100px;
    height:100px;
    background-color: rgb(46, 114, 63);
}

@keyframes anime {
    from{
        left: 67%;
    }
    to{
        right: 0%;
    }

}

